
<mat-toolbar class="home">
  <mat-toolbar-row [ngStyle]="{ backgroundColor: style === '' ? '' : posicao1 }" class="toolbar">
    <div>
    <span class="logo"  [ngStyle]="{ backgroundColor: style === '' ? '' : posicao2, color: style === '' ? '' : posicao3 }">Paleta de cores<mat-icon class="icon">format_color_fill</mat-icon></span>
  </div>
    <span class="example-spacer"></span>
    <button [ngStyle]="{ backgroundColor: style === '' ? '' : posicao4 }"mat-raised-button><mat-icon>add</mat-icon>Adicionar</button>
  </mat-toolbar-row>
</mat-toolbar>
<spa-live-list #child (styleChange)="onStyleChange($event)"></spa-live-list>
<spa-rodape></spa-rodape>

